extends partials/layout
block content
  include partials/nav
    form(action="/clients" method="POST")
      input#inp5(type="number" name="telephone" placeholder="Enter telephone number")
      input(type="submit")
    p#res2 where de rezults go
    table.table
        thead
          tr
            th Tech
            th Status
            th Job #
        tbody
          tr
            th(scope='row') tech1
            td Not Working
            td 2
          tr
            th(scope='row') tech2
            td Working
            td 4
    script(src='/javascripts/clients.js')
