extends partials/layout
block content
    include partials/nav
    .row
        #btnbox.col-md-12s
            a.btn.btn-lg.btn-primary(href="./register") Employee Registration
        #btnbox.col-md-12
            a.btn.btn-lg.btn-primary(href="./registercustomer") New Customer
        #btnbox.col-md-12
            a.btn.btn-lg.btn-primary(href="./registercustomer") New Worker