extends partials/layout

block content
  include partials/nav
  .container
    #box
      a.btn.btn-primary(href='./checkin') Check In Here
    #box
      a.btn.btn-secondary(href='./login') Administrative
