extends partials/layout
block content
  include partials/nav
  br
  form(action="/register" method="POST")
      h4 Employee Register Account
      .form-group
        label(for='formGroupExampleInput') Username
        input#formGroupExampleInput.form-control(type='text' name="username" placeholder='Username')
      //.form-group
        label(for='formGroupExampleInput') Name
        input#formGroupExampleInput.form-control(type='text' name="name" placeholder='Name')
      //.form-group
        label(for'formGroupExampleInput') Telephone
        input#formGroupExampleInput.form-control(type='tel' name='telephone' placeholder='000 000 0000')
      .form-group
        label(for='formGroupExampleInput2') Password
        input#formGroupExampleInput2.form-control(type='password' name="password" placeholder='Password')
      .form-group
        input(type="checkbox" name="isAdmin")
        span  Administrative Account 
      input.btn.btn-primary(type='submit')